
    $primaryBackgroundcolor: #60d9fb;

    $sideBarFocusBackground: rgba(1, 31, 39, 0.6);

    $sideBarTextFocusColor: #f1f1f1;

    $pageBackground:white;

    $secondaryBackgroundcolor: #faf9f9;

    $primaryBoxShadow:0px 0px 1px 1px #e7e7e7;

    $primaryBtnHover: rgba(52, 189, 227, 0.86);
    
    $links:none;

    $primalyFontFamily: -apple-system, BlinkMacSystemFont,  "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

    $textHeadingFontSize:1.35rem;
    
    $userNameFontSize:1.1rem;

    $sidebarTextFontSize:1rem;

    $pageHeadingFontSize:1.6rem;

    $addCourseBackground: #2afc73 ;
    // $h3FontSize:1.1rem;

    $addCourseHoverBackground:#1fee6e ;

    $deleteCourseBackground:  red ;

    $deleteCourseHoverBackground:  rgb(243, 24, 24);

