@use '../partials/_variables' as *;
@use '../partials/_mixins' as *;

.changePassword .text input {
 @include input(#f9f8f8);
  margin-bottom: 1rem;
}
.changePassword {
  background: $pageBackground;
  margin: auto;
  padding: 1rem;
  margin-top: 7rem;
  width: 33rem;
  padding-top: 2rem;
  box-shadow: $primaryBoxShadow;
  h1{
    font-size: $pageHeadingFontSize;
    text-align: center;
    margin-bottom: 0.8rem;   
  }
 
}
 .loaderWrapper{
  background-color: rgba(0, 0, 0, 0.078);
  width: 100%; 
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.changePassword .btn {
  text-align: end;
  width: 97%;
}
.changePassword form button {
  @include button;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}
@media only screen and (max-height:608px){
  .loaderWrapper {
     padding-bottom: 39rem;
     padding-top: 7%;
     padding-top: 29%;
 }
}

@media (max-width: 561px) {
  .changePassword {
    width: 90%;
  }
}
@media only screen and (max-height:560px){
  .loaderWrapper {
     padding-bottom: 39rem;
     padding-top: 59%;
 }
}
@media (max-width: 456px) {
  .changePassword {
    width: 95%;
  }
  .changePassword input{
    width: 95%;
  }
  .changePassword button {
    width: 96%;
  } 
  .changePassword .btn {
    width: 100%;
    padding: 0rem;
    text-align: center;
  }
}
@media only screen and (max-height:408px){
  .loaderWrapper {
     padding-bottom: 39rem;
     padding-top: 0%;
 }
 .changePassword{
  margin-bottom: 7rem;
}
 
}
@media only screen and (max-height:328px){
  .loaderWrapper {
    //  padding-bottom: 39rem;
    //  padding-top: 7%;
 }
 .changePassword{
    margin-bottom: 7rem;
  }
 
}
