@use '../partials/variables' as *;
.navwrapper {
    background:$primaryBackgroundcolor;
    display: flex;
    align-items: center;
    padding: 0.27rem 0rem;
  }
  .schname {
    margin: auto;
    text-align: center;
    font-size: $textHeadingFontSize;
  }
  .name {
    margin-left: auto;
    h3{
      font-size: $userNameFontSize;
      width: 8.5rem;
    }
    p{
      font-size: small;
      font-weight: bold;
       margin-bottom: 0rem;
      color: rgba(0, 0, 0, 0.603);
    }
  }
  .logout {
    cursor: pointer;
  }
  .menu {
    display: none;
    cursor: pointer;
  }
  .name,
  .notification,
  .logout {
    margin-right: 4rem;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .logo {
    width: 2.45rem;
    height: 2.45rem;
    margin-right: auto;
    margin-left: 2rem;
  }
  .msg {
    height: 1rem;
    padding: 0.1rem;
    font-size: small;
    font-weight: bolder;
    border-radius: 40%;
    margin-top: -0.4rem;
    margin-left: -0.3rem;
    position: relative;
    top: 0em;
  }
  .notification {
    color: black;
    position: relative;
    display: flex;
    padding: 0.4rem;
    background: rgb(0, 0, 0, 0.65);
    background: white;
    width: fit-content;
    border-radius: 50%;
    align-items: flex-start;
  }
  .logout {
    font-weight: bold;
    cursor: pointer;
    a:hover {
      color:white;
    }
  }
  @media (max-width: 1225px) {
    .name,
    .notification,
    .logout {
      margin-right: 2rem;
    }
  }
  @media (max-width: 881px) {
    .name,
    .notification,
    .logout {
      margin-right: 1.42rem;
    }
  }
  @media (max-width: 883px) {
    .menu {
      display: block;
      margin-right: 1rem;
      width: 0.9rem;
      height: 0.9rem;
      margin-top: -0.6rem;
    }
  }
  @media (max-width: 668px) {
    .logo {
      margin-left: 0.4rem;
    }
  }
  @media (max-width: 622px) {
    .schname {
      display: none;
    }
    .logo {
      margin-right: 1.4rem;
    }
    .name,
    .notification,
    .logout {
      margin-left: auto;
    }
  }
  @media (max-width: 502px) {
    .logo {
      margin-left: 0.4rem;
    }
    .notification,
    .logout {
      margin-right: 0.69rem;
    }
  }
  @media (max-width: 424px) {
    .name h3 {
      font-size: 1.07rem;
    }
    .name p {
      font-size: 0.76rem;
    }
    .logout {
      font-size: 0.85rem;
    }
    .notification {
      padding: 0.25em;
    }
  }
  @media (max-width: 393px) {
    .logo {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
  @media (max-width: 390px) {
    .name p {
      font-size: 0.69rem;
    }
    .logo {
      width: 1.98rem;
      height: 1.98rem;
    }
    .menu{
      margin-right: 0.8rem;
    }
    .notification{
      padding: 0.2rem;
    }
  }
  @media (max-width: 366px) {
    .logo {
      margin-right: 0.2rem;
    }
    .name {
      margin-right: 0.2rem;
    }
  }
  @media (max-width: 346px) {
    .name {
      line-height: 0.85rem;
    }
    .logout{
      margin: 0rem;
      margin-right: 0.35rem;
    }
  }
  @media (max-width: 303px) {
    .logout{
      line-height: 0.92rem;
    }
  }
  