@use '../partials/variables' as *;
.password input{
    width: 90%;
    outline: none;
    border: none;
    margin: 0rem;
    margin-left: 0rem;
    background: none;
    padding: 0.8rem 0.3rem;
    box-shadow: none;
}
.password{
    border: 1px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0rem;
    width: 90%;
    margin: auto; 
    background: white;
    margin-bottom:1.3rem;
}
.password .eye{
    color: grey;
    cursor: pointer;
}
@media only screen and (max-width:394px){
    .password .eye{
        margin-right: 0.3rem;
    }
    .password input{
        padding: 0.8rem 0.7rem;
    }
}