.App {
  /* background-color: blanchedalmond;
  background-color: white; */
}
.container {
  /* padding: 1rem; */
  /* background: white; */
  /* background: #f1f1f1; */
  /* background-color: blanchedalmond; */
  /* background-color: aqua; */
  /* width: 95vw;
  height: 90vh;
  display: flex;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75); */
  /* margin-top: -5vh; */
}
