.changePassword input {
  display: block;
  width: 90%;
  outline: none;
  border: none;
  background: #f1f1f1;
  padding: 0.8rem;
  margin: auto;
  margin-bottom: 1rem;
}
.changePassword {
  background-color: white;
  margin: auto;
  padding: 1rem;
  margin-top: 7rem;
  width: 33rem;
  padding-top: 2rem;
}
.changePassword .btn {
  text-align: center;
}
.changePassword button {
  width: 90%;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  background:rgb(97, 218, 251, 0.86);
  border: none;
  border: 1px solid gray;
  padding: 0.62rem 0.6rem;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: bolder;
}
@media (max-width: 561px) {
  .changePassword {
    width: 90%;
  }
}
@media (max-width: 456px) {
  .changePassword {
    width: 95%;
  }
  .changePassword input,
  .changePassword button {
    width: 95%;
  }
}
