.mision,
.vision {
  width: 23rem;
  background: #f1f1f1;
  padding: 1rem;
  padding-bottom: 2rem;
  border-radius: 0.2rem;
  margin: 2rem;
  background: white;
}
.visionWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 1126px) {
  .visionWrapper {
    width: 100%;
    display: block;
    margin: auto;
  }
  .mision,
  .vision {
    width: 65%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 475px) {
  .mision,
  .vision {
    width: 80%;
  }
}
