.timetable,
.details {
  width: fit-content;
  margin: auto;
  margin-top: 3rem;
  background: white;
  padding: 0.5rem;
}
.details {
  margin-bottom: 4rem;
}
.timetable h1,
.details h1 {
  text-align: center;
}
.class {
  padding: 0.2rem 0rem;
}
.timetable td,
.details td {
  border-top: 1px solid gray;
  padding: 0.5rem;
}

thead th {
  padding: 0.9rem 0.3rem;
}
@media (max-width: 1160px) {
  .timetablenone {
    display: none;
  }
}
@media (max-width: 1003px) {
  thead th {
    padding: 0.9rem 0.1rem;
    font-size: 0.9rem;
  }
  .timetable td {
    padding: 0.35rem;
  }
  .timetable td > h3 {
    font-size: 1rem;
  }
}
@media (max-width: 1003px) {
  .lecturenone {
    display: none;
  }
  thead th {
    padding: 0.9rem 0.58rem;
    font-size: 1rem;
  }
  .timetable td {
    padding: 0.5rem;
  }
  .timetable td > h3 {
    font-size: 1.1rem;
  }
}
@media (max-width: 491px) {
  thead th {
    padding: 0.9rem 0.58rem;
    font-size: 0.9rem;
  }
  .timetable td {
    padding: 0.3rem;
  }
  .timetable td > h3 {
    font-size: 1rem;
  }
}
@media (max-width: 451px) {
  .timetable h1 {
    font-size: 1.49rem;
  }
  thead th {
    padding: 0.9rem 0.48rem;
    font-size: 0.86rem;
  }
  .timetable td {
    padding: 0.25rem;
  }
  .timetable td > h3 {
    font-size: 0.8rem;
  }
}
@media (max-width: 436px) {
  .details td {
    padding: 0.2rem;
    font-size: 0.93rem;
  }
}
@media (max-width: 412px) {
  .timetable h1,
  .details h1 {
    font-size: 1.49rem;
  }
  .timetable thead th {
    padding: 0.9rem 0.32rem;
    font-size: 0.77rem;
  }
  .timetable td {
    padding: 0.2rem;
  }
  .timetable td > h3 {
    font-size: 0.8rem;
  }
  .class {
    font-size: 0.7rem;
  }
}
@media (max-width: 382px) {
  .details td {
    padding: 0.2rem;
    font-size: 0.76rem;
  }
}
@media (max-width: 357px) {
  .timetable thead th {
    padding: 0.8rem 0.3rem;
    font-size: 0.7rem;
  }
  .timetable td {
    padding: 0.1rem;
  }
  .timetable td > h3 {
    font-size: 0.7rem;
  }
  .class {
    font-size: 0.65rem;
  }
}
@media (max-width: 337px) {
  .details td {
    padding: 0rem;
    font-size: 0.7rem;
  }
}
