.navwrapper {
  background: #f1f1f1;
  /* background: #61dafb; */
  display: flex;
  align-items: center;
  padding: 0.27rem 0rem;
}
.schname {
  margin: auto;
  text-align: center;
}
.name {
  margin-left: auto;
}
.name p {
  font-size: small;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.603);
}
.logout {
  cursor: pointer;
}
.menu {
  display: none;
}
.name,
.notification,
.logout {
  margin-right: 4rem;
}
img {
  width: 100%;
  height: 100%;
}
.logo {
  width: 2.45rem;
  height: 2.45rem;
  margin-right: auto;
  margin-left: 2rem;
}
.msg {
  /* width: 0.8rem;*/
  height: 1rem;
  padding: 0.1rem;
  font-size: small;
  font-weight: bolder;
  border-radius: 40%;
  margin-top: -0.4rem;
  margin-left: -0.3rem;
  position: relative;
  top: 0em;
}
.notification {
  color: black;
  position: relative;
  display: flex;
  padding: 0.4rem;
  background: rgb(0, 0, 0, 0.65);
  background: white;
  width: fit-content;
  border-radius: 50%;
  align-items: flex-start;
}
.logout {
  font-weight: bold;
  cursor: pointer;
}
.logout:hover {
  color: burlywood;
}

@media (max-width: 1225px) {
  .name,
  .notification,
  .logout {
    margin-right: 2rem;
  }
}
@media (max-width: 881px) {
  .name,
  .notification,
  .logout {
    margin-right: 1.42rem;
  }
}
@media (max-width: 883px) {
  .menu {
    display: block;
    margin-right: 1rem;
    width: 0.9rem;
    height: 0.9rem;
  }
}
@media (max-width: 775px) {
  .schname {
    display: none;
  }
}
@media (max-width: 502px) {
  .logo {
    margin-left: 0.4rem;
  }
  .notification,
  .logout {
    margin-right: 0.69rem;
  }
}
@media (max-width: 424px) {
  .name h3 {
    font-size: 1.07rem;
  }
  .name p {
    font-size: 0.76rem;
  }
  .logout {
    font-size: 0.85rem;
  }
  .notification {
    padding: 0.25em;
  }
}
@media (max-width: 408px) {
  .logo {
    width: 2.2rem;
    height: 2.2rem;
  }
}
@media (max-width: 390px) {
  .name p {
    font-size: 0.69rem;
  }
  .logo {
    width: 1.98rem;
    height: 1.98rem;
  }
}
@media (max-width: 366px) {
  .logo {
    margin-right: 0.2rem;
  }
  .name {
    margin-right: 0.2rem;
  }
}
@media (max-width: 346px) {
  .name {
    line-height: 0.85rem;
  }
  .menu,
  .notification,
  .logout {
    margin-right: 0.29rem;
  }
}
