.Resource {
  width: 41rem;
  padding: 1rem;
  margin: auto;
  margin-top: 7rem;
  background-color: #f1f1f1;
  background-color: white;
  border-radius: 0.28rem;
}
.Resource h2 {
  margin-bottom: 1rem;
  text-align: center;
}
.Resource select {
  display: block;
  width: 90%;
  margin: auto;
  padding: 0.7rem 0.2rem;
  background: #f1f1f1;
  border: none;
  outline: none;
  margin-bottom: 2rem;
  border-radius: 0.15rem;
}
option {
  font-weight: bolder;
}
.Resource button {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  margin-left: 75%;
  background: #61dafbdb;
  border: none;
  border: 1px solid gray;
  padding: 0.4rem 0.6rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
@media (max-width: 995px) {
  .Resource {
    width: 80%;
  }
}
@media (max-width: 551px) {
  .Resource {
    width: 90%;
  }
}
@media (max-width: 455px) {
  .Resource {
    width: 96%;
  }
}
