.Result {
  width: fit-content;
  margin: auto;
  margin-top: 3rem;
  background: #f1f1f1;
  background: white;
  padding: 0.5rem;
  margin-bottom: 4rem;
}
.Result td {
  border-bottom: 1px solid gray;
  padding: 0.5rem;
}

thead th {
  border-bottom: 1px solid gray;
  padding: 0.9rem 1rem;
}
.Result .btn {
  margin-top: 3rem;
  margin-bottom: 1.8rem;
  margin-left: 90%;
  background: #61dafbdb;
  border: none;
  border: 1px solid gray;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
}
.none {
  visibility: hidden;
}
center {
  margin-top: 1.4rem;
  font-weight: bolder;
}
@media (max-width: 917px) {
  .Result td {
    padding:1rem 0.3rem;
  }
  thead th {
    padding: 0.4rem 0.5rem;
  }
  .Result .btn {
    margin-left: 78%;
  }
}
@media (max-width: 545px) {
  .Result td {
    padding:1rem 0.14rem;
  }
  thead th {
    padding: 0.25rem 0.26rem;
  }
  .Result .btn {
    margin-left: 78%;
  }
}
@media (max-width: 523px) {
  .Result td {
    padding:1rem 0.14rem;
    font-size: 0.9rem;
  }
  thead tr th {
    padding: 0.25rem 0.33rem;
    font-size: 0.9rem;
  }
  .Result .btn {
    margin-left: 78%;
  }
}
@media (max-width: 490px) {
  .Result-none {
    display: none;
  }
  .Result td {
    padding:1rem 0.24rem;
  }
  thead th {
    padding: 0.25rem 0.43rem;
  }
}
@media (max-width: 344px) {
  .Result td {
    padding:1rem 0.13rem;
    font-size: 0.8rem;
  }
  thead tr th {
    padding: 0.25rem 0.33rem;
    font-size: 0.8rem;
  }
  .Result .btn {
    margin-left: 78%;
  }
}
